html body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* color: whitesmoke; */
    background-color: whitesmoke;
}


.left img{
    width: 90px;
   

}
header{
    position: sticky;
    top: 0;
    background-color: white;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; 
    box-shadow: rgb(97, 34, 34);
   
}


.container{
    /* max-width: 80vw; */
    /* margin: auto; */
    /* padding: 0 10vw; */
    /* margin: 13px 0; */
    padding: 0 10vw;
}

nav ul li{
    list-style: none;
    padding: 0 10px;
    /* text-decoration: double; */
    font-weight: bold;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: small;
    color: rgb(34, 35, 35)
}

.section1{
  
    background-color: whitesmoke;
    text-align: center;
   
}



.homeImage{
    width: 80vw;
    padding-top: 40px;
}

.cz{
    width: 80vw;
}

.section2{
    height: 13vh;
    width: 10vw;
    background-color: whitesmoke;
}

.shp{
    width: 80vw;
    padding-left: 10vw;
}

.section3{
    height: 135px;
    /* width: 17vw; */
}

.tp{
    width: 80vw;
    
}


.section4{
    height: 150px;
    width: 21vw;
}
.ct{
    width: 80vw;
}

.section5{
    height: 36vh;
}



/* .container2{
    text-align: center;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 20vh;
    padding-top: 0px;
}
h1{
    font-size: 35px;
    line-height: -1px;
}
h3{
    font-size: 15px;
} */

footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px ;
    background-color: whitesmoke;
    color: grey;
}